.searchResult {
    display: flex;
    position: relative;
    margin: 50px;
    padding: 20px;
    border-bottom: 1px solid orange;
    cursor: pointer;
  }
.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}
.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
  }
  .searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}
@media screen and (max-width: 650px) {
    .searchResult {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 5px;
        margin-bottom: 80px;
        padding: 20px;
        border-bottom: 1px solid lightgray;
        cursor: pointer;
    
      }
  
}