.Gallery
		{
			background-image: url('https://media.istockphoto.com/vectors/template-empty-black-background-with-soft-spotlight-lighting-vector-id857240800?b=1&k=6&m=857240800&s=612x612&w=0&h=nNEnQSRO_hyhxfPFmT1K0nDquBddgyo7VbF7MUJVosI=');
			height: 14-00px;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 1.5;
		}
		.r1 > img {
			height: 250px;
			width:350px;
		}
		.r2 > img {
			height: 250px;
			width:350px;
		}
		.r3 > img {
			height: 250px;
			width:350px;
		}
		.r1 {
			display: flex;
			justify-content: space-evenly;
			margin-right: 25px;
			margin-bottom: 25px;
		}
		.r2 {
			display: flex;
			justify-content: space-evenly;
			margin-top: 15px;
			margin-right: 25px;
			margin-bottom: 25px;
		}
		.r3 {
			display: flex;
			justify-content: space-evenly;
			margin-top: 15px;
			margin-right: 25px;
			margin-bottom: 25px;
		}

		@media screen and (max-width: 650px) {
		  .r1 {
			  margin-left: 100px;
			  display: flex;
			  flex-direction: column;
		  }
		  .r2 {
			margin-left: 100px;
			display: flex;
			flex-direction: column;
		}
		.r3 {
			margin-left: 100px;
			display: flex;
			flex-direction: column;
		}
			}